*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --text: 1rem;
    --head: calc(0rem + 4vw);
    --bg-color: #d63031
}

body{
font-family: 'Poppins', sans-serif;
}


.hero-section {
  min-height: 100vh;
  background-image: url("img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
padding: 0rem 1rem;
color: black;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.hero-text{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-text{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: orange; */
    z-index: -1;
    top: 0;
}
.hero-text a{
    background: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.8rem 1rem;
}

.hero-text h2{
    font-size: var(--head);
    position: fixed;
    top: 0;
    left: 2;
    right: 2;
    color: dimgray;

}
.hero-text p{
    font-size: 2rem;
}